body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.375rem;
    margin-bottom: 2rem;
}


header ul {
    display: flex;
    list-style: none;
    gap: 1.875rem;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.logoturistas {
    border-radius: 50px;
}

.Empresa {
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
}

.imagensgrandes {
    display: flex;
    justify-content: space-around;
}

.oncaimagem {
    display: flex;
    width: 981px;
    height: 413px;
    border-radius: 10px;
}

.imagem2 {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.textoeanuncio {
    display: flex;
    justify-content: space-around;

}

#titulo {
    display: flex;
    justify-content: start;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
}

.textorefugio {
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

.anuncio {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    width: 2000px;
    height: 413px;
    border-radius: 10px;
}

.fotoenome {
    display: flex;
    gap: 3rem;
}

.fotoguia {
    margin-left: 1rem;
    margin-top: 2rem;
    width: 88px;
    height: 85px;
    border-radius: 50px;
}


.tagguia {
    margin-left: -23px;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    color: #18A900;
}

.nomeguia {
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
}

.tempoativ {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
    margin-top: 0px;
}

.textoanuncio {
    text-align: center;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
}

.valoratividade {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.botao-verde {
    background-color: #18A900;
    color: white;
    border: none;
    padding: 10px 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    margin-bottom: 0.5rem;
}

#link {
    text-decoration: none;
    color: black;
}

.gapdasimagensetextos {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

#descripition{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}