body {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Poppins
}


#entrar {
    background-color: #18A900;
    display: flex;
    width: 136px;
    height: 48px;
    border-radius: 2px;
    color: white;
    margin-left: 20px;
}

#perfil {
    width: 20px;
    height: 20px;
    margin-top: 13px;
    margin-left: 16px;
}

#logar {
    display: flex;
    font-size: 14px;
    margin-left: 1200px;
    margin-top: 31px;
}

#entrar-txt {
    margin-left: 15px;
    color: black;
    text-decoration: none;
    margin-top: 15px;
}

#criar_conta {
    margin-left: 15px;
    color: black;
    text-decoration: none;
    margin-top: 15px;
}

.tags {
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-size: 25px;
}

#titulo {
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 0;
}

#principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 394px;
    height: 398px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    justify-content: space-around;
}

#login {
    font-size: 48px;
    margin-bottom: 0px;
}

#senha {
    display: flex;
    margin-left: 60px;
}

#text {
    height: 50px;
    margin-bottom: 30pxs;

}

#botao {
    border: none;
    height: 50px;
    background-color: #18A900;
    color: white;
    margin-top: 30px;
}

#link {
    color: #18A900;
    margin-top: 15px;
}

#text-link {
    margin-top: 30px;
    text-decoration: none;
    color: black;
}

#a-link {
    text-decoration: none;
    color: white;
    font-size: 20px;
}