body {
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5.375rem;
}

header ul {
    display: flex;
    list-style: none;
    gap: 1.875rem;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.logoturistas {
    border-radius: 50px;
}

.Empresa {
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
}



.caixadeentrada {
    box-sizing: border-box;
    width: 744px;
    height: 56px;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.botaobuscar {
    box-sizing: border-box;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #18A900;
    width: 184px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.guiasefiltros {
    display: flex;
    justify-content: space-around;

}

.filtrodebuscaguias {

    width: 272px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.filtro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nivel {
    color: black;
    background-color: #FFFFFF;
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.estrelas {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.estrela1 {
    display: flex;
    width: 20px;
    height: 20px;
    padding: 1rem 0 0 0rem;
}

.textofiltros {
    color: black;
    background-color: #FFFFFF;
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.textocidade {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
}

.caixadosfiltros {
    font-weight: 400;
    font-size: 14px;
    color: black;
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
}

.cardsdosguias {
    gap: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1168px;
    background-color: rgba(24, 169, 0, 0.4);
    border: 1px solid black;
}

.card1 {
    width: 915px;
    height: 219px;
    background-color: #FFFFFF;
    display: flex;
    gap: 5rem;
}

.card2 {
    width: 915px;
    height: 219px;
    background-color: #FFFFFF;
    display: flex;
    gap: 5rem;
}

.fotodoguia {
    width: 261px;
    height: 196px;
    display: flex;
    justify-content: flex-start;
    padding: 0.7rem 0 0 1rem;
}

.informacoesdoguia {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.nomeguia {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.estrelasguia {
    gap: 0.2rem;
    display: flex;
    align-items: center;
}

.notaava {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}

.nomeeestrelasguia {
    display: flex;
    flex-direction: column;
}

.sobreoguia {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
}

.textoebotaocontratar {
    display: flex;
    gap: 1rem;
}

.botaocontratar {
    display: flex;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    color: #FFFFFF;
    background-color: #219653;
    align-items: center;
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    text-decoration: none;
    width: 70px;
    height: 26px;
}

.sobreebotaoflexivel {
    display: flex;
    gap: 1rem;

}

.busca {
    width: 700px;
    height: 56px;
    border: none;

}

.buscar {
    background-color: #18A900;
    display: flex;
    width: 250px;
    height: 56px;
    border-radius: 2px;
    color: white;
}

.buscar-img {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    margin-left: 16px;
}

.buscar-txt {
    margin-left: 15px;
}

.container-buscar {
    display: flex;
    border: 5px solid rgba(24, 169, 0, 0.4);
    width: 900px;
    margin-left: 300px;
    margin-bottom: 50px;
    margin-top: 50px;
}

#link {
    text-decoration: none;
    color: black;
}