body {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Poppins;
    box-sizing: border-box;
    align-items: center;
}


#entrar {
    background-color: #18A900;
    display: flex;
    width: 136px;
    height: 48px;
    border-radius: 2px;
    color: white;
    margin-left: 20px;
}

#perfil {
    width: 20px;
    height: 20px;
    margin-top: 13px;
    margin-left: 16px;
}

#logar {
    display: flex;
    font-size: 14px;
    margin-left: 1200px;
    margin-top: 31px;
}

#entrar-txt {
    margin-left: 15px;
    color: black;
    text-decoration: none;
    margin-top: 15px;
}

.tags {
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-size: 25px;
}

#titulo {
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 0;
}

#slogan {
    display: flex;
    justify-content: center;
    font-style: normal;
    font-weight: 1;
    font-size: 48px;
    line-height: 72px;
}

#slogan2 {
    display: flex;
    justify-content: center;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
}

#article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#centro {
    width: 833px;
    height: 420px;
    background-color: rgba(24, 169, 0, 0.4);
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

#input {
    width: 800px;
    height: 48px;
}

#input3 {
    width: 800px;
    height: 180px;
    text-align: start;
}

#enviartxt {
    width: 135px;
    height: 43px;
    background-color: rgba(24, 169, 0, 0.4);
    border: 1px solid #000000;
    border-radius: 10px;
    font-weight: bold;
    font-size: 20px;
    margin-top: 26px;
}

#text-link {
    margin-top: 30px;
    text-decoration: none;
    color: black;
    font-size: 25px;
}

#criar_conta {
    margin-left: 15px;
    color: black;
    text-decoration: none;
    margin-top: 15px;
}

.sociais {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5rem;
    padding: 3rem;
    ont-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 18px;

}

.sociais img {
    width: 50px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background: #FFFFFF;
    border: 2px solid #000000;
    border-radius: 10px;
}

.insta {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.75rem;
}

.face {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.75rem;
}

.Twitter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.75rem;
}