body {
    font-family: Poppins;
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#header {
    display: flex;
    justify-content: center;
    text-align: center;
}

#titulo {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;


    color: #000000;
}

#article {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding-left: 78px;
}

#informacoes {

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */


    color: #000000;
}

#caixona {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 720px;
    height: 275px;
}

.paragrafo1 {
    margin: 0.5rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.paragrafo2 {
    margin: 0.5rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.paragrafo3 {
    margin: 0.5rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.paragrafo4 {
    margin: 0.5rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
}

.paragrafo5 {
    margin: 0.5rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
}

#footer {
    padding-top: 250px;
}

#enviartxt {
    width: 325px;
    height: 55px;
    background-color: #18A900;
    color: white;
    border: none;
    font-size: 24px;
}

#chat-link {
    text-decoration: none;
    color: white;
}