body{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: Poppins;
    box-sizing: border-box;
    align-items: center;
}


#entrar{
    background-color: #18A900;
    display: flex;
    width: 136px;
    height: 48px;
    border-radius: 2px;
    color: white;
    margin-left: 20px;
}

#perfil{
    width: 20px;
    height: 20px;
    margin-top: 13px;
    margin-left: 16px;
}

#logar{
    display: flex;
    font-size: 14px;
    margin-left: 1200px;
    margin-top: 31px;
}

#entrar-txt{
    margin-left: 15px;
}

.tags{
    display: flex;
    justify-content: space-around;
    margin: 0;
    font-size: 25px;
}

#titulo{
    font-size: 55px;
    margin-top: 0;
    margin-bottom: 0;
}
#slogan{
    font-size: 40px;
    margin-left: 440px;
    margin-top: 0;
    margin-bottom: 100px;
    font-family: Poppins;
    
}



section{
    display: flex;
    min-height: 40vh;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 10px 40px;
    border: none;
    margin: auto;
    width: 500px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
section form{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}
form label{
    font-size: 17px;
    margin-bottom: 4px;
}
form input{
    padding: 20px;
    outline: none;
    border: 0;
    font-size: 15px;
    transition: all 0.5s;
    border: 1px solid rgb(114, 109, 109);
    margin-bottom: 10px;

}
form input:focus{
    border-radius: 16px;

}
form textarea{
    padding: 10px;
    outline: none;
    border: 0;
    font-size: 15px;
    margin-bottom: 25px;
    transition: all 0.5s;
    
}
form textarea:focus{
    border-radius: 16px;
    

}

form button{
    padding: 15px;
    cursor: pointer;
    font-size: 16px;
    border: 2px ;
    transition: all 1s;
    margin-bottom: 15px;
}
form button:hover{

    border-radius: 16px;
}

section h3{
    font-size: 30px;
}
form button{
    background-color: green;
    color: white;
}